link {
  color: white;
  text-decoration: none;

  &:hover {
    color: #646cff;
  }
}

nav {
  display: float;
padding: 10px 0px;
  width: 100vw;
  align-items: center;
  background-color: #a6cae2;
  align-self: center;
}

h1 {
  margin: 0;
  padding: 15px 0px;
  font-size: 1.5em;
}